extends layout

block content
  link(rel='stylesheet', href='/stylesheets/style.css')
  br
  br
  br

  br
  br

  #contact
    h2  Contact Information
  table#contact

    tr
      td
        h4 Sustainability Coordinator
      td
        p
      td
        h4 Lead Professor

    tr
      td
        b Brian Douglas
      td
        p
      td
        b Michael B. Gousie

    tr
      td Vice President for Finance and Administration
      td
        p
      td Professor of Computer Science


    tr
      td (508) 286-8208
      td
        p
      td (508) 286-3969


    tr
      td
        p
      td
        p
      td mgousie@wheatonma.edu
    tr
      td
        p
      td
        p
      td http://cs.wheatoncollege.edu/mgousie/
  br
  br
  br
  br
  br
  br
  br
