extends layout

block content
  #contact
    #bryan
      h4 Sustainability Coordinator
      p Brian Douglas 
      p  Vice President for Finance and Administration
      p  (508) 286-8208 
    #gousie
      h4 Lead Professor 
      p Michael B. Gousie
      p Professor of Computer Science
      p (508) 286-3969
      p mgousie@wheatonma.edu
      p http://cs.wheatoncollege.edu/mgousie/