extends layout

block content
  link(rel='stylesheet', href='/stylesheets/style.css')
  <div id = #data style= "margin:0 5%">
  <h2 class="data-head"> Data Calculation</h2>
  <h3> Calculating Energy Usage per Day</h3>
  <p>To generate our data, we pulled daily energy usage data directly from the Egauge server, which is where the meters for each dorm send their readings. We then formatted and pushed it to a MongoDB database. Our website pulls the data directly from this database. While currently our website does not update the database on a regular basis, the code is written which will be able to do this automatically in the future. <br><br> Since we want to compare the energy usage fairly between each dorm for the Bubble View/dorm energy savings contest, we decided to normalize the data for each dorm by how many students are in each dorm, i.e. the number of beds.<br><br> Dorm capacity is shown below. </p>
  table
    tr
      td Residence Hall/Wing
      td Max. Capacity

    tr
      td Beard
      td 110

    tr
      td Chapin
      td 45

    tr
      td Clark
      td 96

    tr
      td Cragin
      td 68

    tr
      td Emerson House
      td 28
    tr
      td Everett
      td 174

    tr
      td Gebbie
      td 50
    tr
      td Keefe
      td 50
    tr
      td Kilham
      td 58
    tr
      td Larcom
      td 63
    tr
      td McIntire
      td 92
  </table>


  <h3> Calculate CO2 Generated</h3>
  <p> We calculate CO2 generated with the conversion of <b>1kwh = .6379 pounds of CO2</b>. This is the conversion provided to us by Wheaton's electrical source.</p>


  <h3>Calculate Tree Offset</h3>
  <p>Based on the CO2 generated data that we calculated, and the conversions provided by the EPA (https://www.epa.gov/energy/ghg-equivalencies-calculator-calculations-and-references) we use the conversion of <b>1kwh = 0.0274957 trees to offset the carbon emission</b>. The unit trees here is in terms of 1 seedling grown over ten years, factoring in the decay likelihood of the tree dying at some point within that 10 years.</p>

  <h3>Calculate Base Line for Competition</h3>
  <p>For the competition, we needed a way to measure whether or not a dorm is saving energy on a given day in comparison to previous days. The way this is calculated is by collecting 5 values: energy usage of day we want to measure savings for, and energy usage of the same dorm on the same day in the four previous weeks. I.e., for savings on Monday, April 25th, we would collect energy usage on Monday, April 18th, April 11th, April 4th and March 28th. We then average the energy usage on the four previous dates and calculate the difference in energy usage between the savings date and the average of the previous dates. We only award money if the difference is negative, i.e. on the newest date less energy was used than the average of the previous dates. In keeping with normalizing the data to keep the contest as fair as possible, funds are awarded to each dorm is terms of $1000 per 1kwh per bed/occupant of the dorm. So for example, if Beard saved 2kwh's, and has 110 beds, they would earn (2/110)*$1000 = $18.18 for that day.<p>
  <br>
  </div>
