extends layout

block content
  script(type='text/javascript').
    var totalYear = !{yeartotal};
    var days = !{days};
  script(type='text/javascript' src="/scripts/historical.js")
  hr
  #yearChosen
  #label
    #links
      button(class='y' id='sixteen' value='2016') 2016
      button(class='y' id='seventeen' value='2017') 2017
      button(class='y' id='fifteen' value='2018') 2018

    #total
    #months_labels(style='width: 990px;')
      table(style='margin-left: 2%; margin-right: 2%')
        tr(style='margin-bottom: -1px; margin-left: 10%')
          td(style='width: 7%; text-align: center; font-size: xx-small;')
             p January
          td(style='width: 6%; text-align: center; font-size: xx-small;')
             p February
          td(style='width: 6%; text-align: center; font-size: xx-small;')
            p March
          td(style='width: 5%; text-align: center; font-size: xx-small;')
            p April
          td(style='width: 6%; text-align: center; font-size: xx-small;')
            p May
          td(style='width: 6%; text-align: center; font-size: xx-small;')
            p June
          td(style='width: 6%; text-align: center; font-size: xx-small;')
            p July
          td(style='width: 6%; text-align: center; font-size: xx-small;')
            p August
          td(style='width: 5%; text-align: center; font-size: xx-small;')
            p September
          td(style='width: 6%; text-align: center; font-size: xx-small;')
            p October
          td(style='width: 6%; text-align: center; font-size: xx-small;')
            p November
          td(style='width: 6.5%; text-align: center; font-size: xx-small;')
            p December
  #daylabel
    #S
    br
    #M
    br
    #T
    br
    #W
    br
    #R
    br
    #F
    br
    #s
  #historical
  .information
    #words
  br
  br
  br
  br
  p#instruction January 1st starts in the upper most left box, each day subsequent follows down the column.  Click each box for more information
