extends layout

block content
  script(src="/scripts/historical.js")
  #yearChosen
  #label
    #links
    button(onclick='clear(2015)') 2015
    button(onclick='clear(2016)') 2016
    button(onclick='clear(2017)') 2017
   
    #total
    #months_labels
      table(style='margin-left: 5%; margin-right: 5%')
        tr(style='margin-bottom: -1px; border: 1px solid black; margin-left: 10%')
          td(style='width: 6%; text-align: center; font-size: xx-small;')
             p January
          td(style='width: 5%; text-align: center; font-size: xx-small;')
             p February
          td(style='width: 7.5%; text-align: center; font-size: xx-small;')
            p March
          td(style='width: 6%; text-align: center; font-size: xx-small;') 
            p April
          td(style='width: 7%; text-align: center; font-size: xx-small;')
            p May
          td(style='width: 7%; text-align: center; font-size: xx-small;')
            p June
          td(style='width: 7%; text-align: center; font-size: xx-small;')
            p July
          td(style='width: 6%; text-align: center; font-size: xx-small;')
            p August
          td(style='width: 4%; text-align: center; font-size: xx-small;')
            p September
          td(style='width: 6%; text-align: center; font-size: xx-small;')
            p October
          td(style='width: 7%; text-align: center; font-size: xx-small;')
            p November
          td(style='width: 2%; text-align: center; font-size: xx-small;')
            p December
            
  #historical
  #information
    #words
