extends layout

block content
  script(src="/scripts/bubbles.js")
  table.centerBlock
    tr
      td
        #bubbles
      td#moneyRaised
        h3 Total Money Raised Since September 1st:
        h1 $691.20
      td.rankList
          ol
            each val in buildings
              li=val
