extends layout

block content
  script(type='text/javascript').
      var buildings = !{data};
  script(src="/scripts/bubbles.js")
  h2#bubbleTitle Dorm Energy Savings Contest
  table.centerBlock
    tr
      td
        #bubbles
      td#moneyRaised
        .moneyBox
          h2 Total Money Raised Since September 1st:
          h2 $691.20
        br
        h3.contestLink How do I earn money? 
        h3.contestLink Click here for contest details
      td.rankList
        ol
          each val in listBuildings
            li=val
