extends layout

block content
  script(src="/scripts/bubbles.js")
  table.centerBlock
    tr
      td
        #bubbles
      td#moneyRaised
        h2 Total Money Raised Since September 1st:
        h2 $691.20
        br
        h3
      td.rankList
          ol
            each val in buildings
              li=val
