extends layout

block content
  script(src="/scripts/bubbles.js")
  table.centerBlock
    tr
      td 
    tr
      td
        #bubbles
      td#bubblesList
          ol
            each val in buildings
              li=val
