extends layout

block content
  script(type='text/javascript').
      var buildings = !{data};
  script(src="/scripts/bubbles.js")
  h2#bubbleTitle Dorm Energy Savings Contest
  table.centerBlock
    tr
      td#bubblestable
        #bubbles
      td
        .moneyBox
          h4 Total Money Raised Since September 1st:
          h4 $#{moneySum}
        ol.rankList
          each val in listBuildings
            li=val
