extends layout

block content
  table.centerBlock
    tr
      td 
        //- button#force Toggle Static
    tr
      td
        #bubbles
      td#bubblesList
          ol
            each val in buildings
              li=val
