extends layout

block content
  script(type='text/javascript').
      var buildings = !{data};
  script(src="/scripts/bubbles.js")
  hr
  h2#bubbleTitle Dorm Energy Savings Contest
  table.centerBlock
    tr
      td#bubblestable
        #bubbles
        p Bubbles are scaled according to money earned: Radius = sqrt(Money)
      td
        .moneyBox
          h4 Total Money Raised Since March 1st:
          h3 $#{moneySum}
          p The more energy you save, the more you earn. At the end of the contest, the winning dorm decides where the funds go!
        ol.rankList
          each val in listBuildings
            li=val
        p Click a bubble for more information on that building's savings. Click it again to return to the default view.
