doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='/scripts/d3.v3.min.js')




	body

		<div id="banner">
		<div id = "banner-title">
		<img src="/image/logo.png" id="logo"/>
		h1= title
		</div>
		<a href="/" class="banner-button">Bubble View</a>
		<a href="/linegraph" class="banner-button">Line Graph View</a>
		<a href="/historical" class="banner-button">Historical Graph View</a>
		</div>
		<div id="container">
		block content
		</div>
		<div id="footer">
		<a href="/data" class="footer-button">Learn How Data is Processed</a>
		<a href="/contact" class="footer-button">Contact Information</a>
		<button class="footer-button" id="switch-color" val="0">Switch Color Scheme</a>
		</div>
