body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: auto;
    width: 100%;
    color: black;
    background-repeat: no-repeat;
    background-image: url("./../image/background.jpg") ;
    background-size: 100% 100%;
    /*overflow-x: hidden;*/
}
#banner{
    margin: auto;
    text-align: center;
    position: relative;
    padding-bottom: 2%;
    background-color: rgba(255,255,240, 0.7);
    width: 90%;
    border-radius: 20px;
    text-align: center;
}
#banner-title{
    width: 30%;
    margin: auto;
    padding-top:0.1%;
}
h1{
    font-size: 300%;
    text-align: center;
    z-index: 2;
}

#logo{
    margin-top:20px;
    position: relative;
    height: 60px;
    width: 18%;
    float: left;
    top: 5%;
    z-index: 1;
}
.banner-button{
    position: relative;
    border-color: Black;
    border-radius: 10px;
    border: 1px solid;
    padding: 1%;
    text-decoration: none;
    color: black;
    background-color: rgba(229, 245, 224,0.4);
    padding-top: 5px;
}
.banner-button:hover, .banner-button:visited:hover{
    border-color:#11900d;
    color: #11900d;
    /*color: white;*/
}
.banner-button:visited{
    color: #315a2f;
    border-color: #315a2f;
}
a {
    position: relative;
    z-index: 20;
    font-size: 16px;
}

#container{
    margin: auto;
    background-color: rgba(255,255,240,0.7);
    width: 90%;
    height: 100%;
    position: relative;
    border-radius: 20px;
    margin-top: 0.5%;
}

.centerBlock {
    width: 100%;
}
#bubblestable{
  width: 55%;
  /*padding: auto;*/
}
#bubbles{
    float: right;
}
#linegraph{
    background-color:rgba(255,255,240, 0.8);
    width: 88%;
    margin-left: 2%;
    border-radius: 20px;
}

.rankList {
    font-size: 1.5em;
    margin-left: 35%;
}

#footer{
    margin: auto;
    background-color: rgba(255,255,240,0.7);
    text-align: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 90%;
    border-radius: 20px;

}
.footer-button{
    padding: 2%;
    color: #315a2f;
}

.footer-button:hover, .footer-button:visited:hover{
    color: #11900d;
}

#label{
    height: 10%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
}

#links{
    margin-top: 20%;
    display: inline;
}

#total{
    display: inline;
    margin-left: 60%;
    margin-top: 2%;
}

#daylabel{
    display: inline;
    float: left;
    width: 8%;
    text-align: right;
}
#S{
    display: inline;
    text-align: right;
    margin-right: 6%;
}

#M{
    display: inline;
    text-align: right;
    margin-right: 6%;
}
#T{
    display: inline;
    text-align: right;
    margin-right: 6%;
}
#W{
    display: inline;
    text-align: right;
    margin-right: 6%;
}
#R{
    display: inline;
    text-align: right;
    margin-right: 6%;
}
#F{
    display: inline;
    text-align: right;
    margin-right: 6%;
}
#s{
    display: inline;
    text-align: right;
    margin-right: 6%;
}

#historical{
    display: inline;
    float: right;
    margin-right: 2%;
    width: 90%
}
svg{
    display: inline;

}

#information{
    width: 100%;
    font-size: 1.5em;
}

#words{
    text-align: left;
    width: 50%;
    margin-top: .4%;
    padding-left:2%;
    margin-left: 35%;
    margin-right: auto;
    margin-bottom: -10%;
}

#yearChosen{
    display: inline;
    margin-left: 45%;
    width: 100%;
    height: 5%;
}

.day {
    stroke: #ccc;
  }

  .month {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
  }

  .day1 {fill: #66c166;}
  .day2 {fill: #99d699;}
  .day3 {fill: #cceacc;}
  .day4 {fill: #ffcccc;}
  .day5 {fill: #ff9999;}
  .day6 {fill: #ff6666;}
  .future {fill: #333333;}

#bubbleTitle {
    text-align: center;
    width: 100%;
    padding-top: 2%;
}

.contestLink {
    text-decoration: underline;
    text-align: center;
}

.moneyBox {
    border: solid 1px black;
    border-radius: 20px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 1%;
}

#data{
    height: 50%;
}

#contact{
    margin: 0 auto;
    text-align: center
}

#contact td{
  width: 300px;
}


h4{
    font-size: larger;
}

p {
    font-size: larger;
}

.data-head{
  padding-top: 20px;
}
